player-connection-mode=Listen
player-connection-guid=3815818836
player-connection-debug=1
player-connection-project-name=GAM20001 A3 Space Shooter
player-connection-ip=192.168.20.13
player-connection-ip=172.21.176.1
wait-for-native-debugger=0
wait-for-managed-debugger=1
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=02db2957bdc946dcacd822a809f1620d
